api_scheduling/ColeçãoPostman/AI Agent.json
{
  "name": "AI Voice Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "REGRA CRÍTICA DE EXECUÇÃO: Cada ferramenta deve ser executada APENAS UMA VEZ por tarefa. Após executar uma ferramenta, AGUARDE o resultado antes de decidir próximos passos. NUNCA execute a mesma ferramenta múltiplas vezes com os mesmos parâmetros.\n\nVocê é um assistente virtual de uma clínica médica. Suas responsabilidades incluem:\n\n1. Saudação e Encerramento: Cumprimente os pacientes de forma cordial e encerre as conversas educadamente.\n\n2. Consultar Agenda: Informe horários disponíveis usando a ferramenta \"Lista Horas\".\n\n3. Registrar Pacientes: Antes de agendar, SEMPRE verifique se o paciente já existe usando Lista Pacientes filtrando pelo email. Se o paciente JÁ EXISTIR, use o ID retornado pela busca e prossiga IMEDIATAMENTE com o agendamento SEM perguntar confirmação ao usuário. Se NÃO EXISTIR, crie usando Criar Paciente e prossiga com o agendamento. NUNCA pergunte se o usuário deseja usar o cadastro existente - apenas use.\n\n4. Agendar Consultas - PROCESSO AUTOMÁTICO:\n   a) Quando o usuário fornecer: horário, tipo de consulta, nome e email - colete TUDO de uma vez\n   b) Verifique se paciente existe (Lista Pacientes) - se existir pegue o ID, se não existir crie (Criar Paciente)\n   c) Busque o hourId correspondente ao horário informado usando Lista Horas\n   d) Execute Criar Agendamento UMA ÚNICA VEZ com: patientId, hourId, datetime (do horário), service\n   e) AGUARDE resposta com ID do agendamento\n   f) Execute Gmail Tool UMA ÚNICA VEZ para enviar confirmação\n   g) Informe ao paciente: \"Agendamento criado com sucesso! ID: [número]. Você receberá um email de confirmação.\"\n   \n   CRÍTICO: NÃO pergunte confirmação. NÃO pergunte data. NÃO execute Criar Agendamento mais de uma vez. Quando tiver todas as informações, EXECUTE o agendamento automaticamente.\n\n5. Cancelar Consultas - PROCESSO DIRETO:\n   a) Quando o usuário fornecer o ID do agendamento para cancelar, execute IMEDIATAMENTE a ferramenta Cancelar com esse ID\n   b) AGUARDE a resposta da API de cancelamento\n   c) Após confirmação de sucesso, execute Gmail Tool para enviar email de cancelamento ao paciente\n   d) Informe ao paciente que o cancelamento foi realizado com sucesso\n   \n   IMPORTANTE: NÃO verifique na memória se já foi cancelado antes. NÃO pergunte confirmação. Quando receber o ID, execute o cancelamento diretamente. A API retornará erro se o ID não existir ou já foi cancelado.\n\n6. Comunicação Adaptativa: Verifique o campo messageType no input. Se messageType=text, responda em texto normalmente. Se messageType=voice, use a ferramenta Text to Speech Tool para converter sua resposta em áudio antes de enviar.\n\nVALORES DAS CONSULTAS: Consulta Geral: R$ 150,00 | Consulta Especializada: R$ 250,00 | Retorno: R$ 80,00 | Formas de Pagamento: Dinheiro, Cartão de Crédito/Débito, PIX. Quando o usuário perguntar sobre valores ou formas de pagamento, responda diretamente com essas informações sem usar ferramentas.\n\nREGRA FINAL: Se você já executou uma ferramenta e recebeu um resultado bem-sucedido, NÃO execute a mesma ferramenta novamente. Prossiga para o próximo passo do processo.\n\nSempre seja profissional, claro e prestativo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        728,
        192
      ],
      "id": "cf7ff1d7-46b4-4b86-93e1-63982b089c5a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        416
      ],
      "id": "b7256395-d61e-469e-ab81-c08db9ff7f42",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "75f384ee-e300-49df-abcb-2957c46a85c2",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1584,
        192
      ]
    },
    {
      "parameters": {
        "toolDescription": "Cancelar agendamento. Use o ID do agendamento fornecido pelo usuário. Retorna confirmação de exclusão. Após sucesso, envie email de cancelamento usando Gmail Tool.",
        "method": "DELETE",
        "url": "=https://77e375b3df1d.ngrok-free.app/appointments/{{ $fromAI('appointmentId', 'ID do agendamento a ser cancelado', 'number') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        480,
        416
      ],
      "id": "f9883232-8da1-4a9e-b644-b67eb6f3ecd8",
      "name": "Cancelar"
    },
    {
      "parameters": {
        "toolDescription": "Faz a listagem dos agendamentos ",
        "url": "https://77e375b3df1d.ngrok-free.app/appointments",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        608,
        416
      ],
      "id": "b6f894ce-6eb5-45da-b915-4a7294fa655c",
      "name": "List Agendamentos"
    },
    {
      "parameters": {
        "toolDescription": "Listar horários disponíveis para agendar. Retorna lista com id, hora de início, hora de fim e data/hora completa em formato ISO. Use o datetime retornado diretamente no agendamento.",
        "url": "https://77e375b3df1d.ngrok-free.app/hours",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        736,
        416
      ],
      "id": "cf76710f-9b26-4dd0-a301-e318cfcf37a1",
      "name": "Lista Horas"
    },
    {
      "parameters": {
        "toolDescription": "Criar paciente APENAS se ele NÃO existir no sistema. Antes de usar esta ferramenta, SEMPRE verifique com Lista Pacientes se o email já está cadastrado. Envia nome e email, retorna o paciente criado com ID gerado. Use esta ferramenta apenas UMA vez por paciente.",
        "method": "POST",
        "url": "https://77e375b3df1d.ngrok-free.app/patients",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Captura o nome do usuario que foi digitado ou falado `, 'string') }}"
            },
            {
              "name": "email",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `captura o email do usuario que foi digitado ou falado`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        864,
        416
      ],
      "id": "0a83d5b1-4cb1-4eb9-bbfc-7256187640a7",
      "name": "Criar Paciente"
    },
    {
      "parameters": {
        "toolDescription": "Criar agendamento no sistema. Requer patientId, hourId, datetime (formato ISO), e service. ATENÇÃO: Esta ferramenta cria um registro permanente no banco de dados. Execute APENAS UMA VEZ por agendamento. Se você já recebeu um ID de agendamento como resposta, NÃO execute esta ferramenta novamente. Após sucesso, use Gmail Tool para enviar confirmação.",
        "method": "POST",
        "url": "https://77e375b3df1d.ngrok-free.app/appointments",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "patientId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('patientId', 'ID do paciente cadastrado', 'number') }}"
            },
            {
              "name": "hourId",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('hourId', 'ID da hora disponível', 'number') }}"
            },
            {
              "name": "datetime",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('datetime', 'Data e hora do agendamento no formato ISO (ex: 2024-01-15T14:30:00Z)', 'string') }}"
            },
            {
              "name": "service",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('service', 'Tipo de serviço da consulta', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        992,
        416
      ],
      "id": "d5e96a06-8872-48f9-a82b-41bb777c492c",
      "name": "Criar Agendamento"
    },
    {
      "parameters": {
        "toolDescription": "Lista todos os pacientes cadastrados. Use esta ferramenta ANTES de criar um novo paciente para verificar se o email já existe no sistema. Retorna lista com id, nome e email de cada paciente.",
        "url": "https://77e375b3df1d.ngrok-free.app/patients",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1120,
        416
      ],
      "id": "796f5009-b2f0-4fca-9ed2-31218d68092d",
      "name": "Lista Pacientes"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        224,
        416
      ],
      "id": "f60cf06d-f29a-423a-af8a-489c88c2da3b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "qZIPeQwTQWeMpzUY",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Enviar email de confirmação ou cancelamento. Use após criar agendamento (com detalhes da consulta) ou após cancelar agendamento (informando o cancelamento). Envie para o email do paciente.",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', `Email do paciente para enviar confirmação`, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Assunto do email de confirmação`, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Mensagem de confirmação com detalhes do agendamento`, 'string') }}",
        "options": {}
      },
      "id": "ee1d1057-ec9c-4c26-ac26-3d516bd87c3c",
      "name": "Gmail Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1248,
        416
      ],
      "webhookId": "6f3ac482-b434-4f0e-a8eb-2622857c0110",
      "credentials": {
        "gmailOAuth2": {
          "id": "nMzclcj9ArvoFiu1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Olá! Sou seu Agente Virtual, como posso te ajudar hoje?",
        "options": {
          "allowFileUploads": true,
          "allowedFilesMimeTypes": "audio/*",
          "responseMode": "lastNode"
        }
      },
      "id": "7932317b-55d2-4cc9-b4f6-2a8e582c97a6",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        168
      ],
      "webhookId": "c34ac00c-1253-47f8-8ceb-6edfcce58c1e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Chat Trigger').item.json.chatInput }}",
              "rightValue": "[AUDIO]:",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "98ef42bc-2267-4024-87f7-1f8391c938b1",
      "name": "Check Message Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "messageType",
              "value": "text",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "80d28637-395c-4529-a4e2-237ae15697ff",
      "name": "Format Text Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "chatInput",
              "value": "={{ $json.transcription.replace('[AUDIO]:', '').trim() }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "messageType",
              "value": "voice",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4f34d80b-8b13-4699-91b2-b371b2880930",
      "name": "Format Audio Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "toolDescription": "Converter texto em áudio para responder ao paciente quando ele enviar mensagem de voz. Use esta ferramenta APENAS quando messageType=voice.",
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"tts-1\",\n  \"voice\": \"alloy\",\n  \"input\": {{ $fromAI('text', 'Texto da resposta para converter em áudio', 'string') }}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "id": "b232c4d7-ca5d-4900-9273-ac963a8caa44",
      "name": "Text to Speech Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1376,
        416
      ],
      "credentials": {
        "openAiApi": {
          "id": "NOIVc1TgLXNPr6WG",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Agendamentos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Lista Horas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar Paciente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar Agendamento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Lista Pacientes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Text to Speech Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Type": {
      "main": [
        [
          {
            "node": "Format Text Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Audio Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Text Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Audio Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "22b8637c-a260-4e72-8d3e-d2b45abbf05c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3887370091dd785233d99331a38c4f08434802ae97225b684ed81d0b431484a7"
  },
  "id": "1wzLpX0Brxny9OCp",
  "tags": []
}